<mat-toolbar color="primary" class="header-toolbar">
  <div class="logo-section">
    <button *ngIf="isMobile" mat-icon-button (click)="toggleSidenav()" class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo">Click Calc</span>
  </div>

  <span class="spacer"></span>

  <ng-container *ngIf="!isMobile; else mobileMenu">
    <button mat-button [matMenuTriggerFor]="percentageMenu">
      <mat-icon>percent</mat-icon>
      <span>Percentage</span>
    </button>
    
    <button mat-button [matMenuTriggerFor]="fractionsMenu">
      <mat-icon>functions</mat-icon>
      <span>Fractions</span>
    </button>
    
    <button mat-button [matMenuTriggerFor]="geometryMenu">
      <mat-icon>architecture</mat-icon>
      <span>Geometry / Trigonometry</span>
    </button>
    
    <button mat-button [matMenuTriggerFor]="numbersMenu">
      <mat-icon>123</mat-icon>
      <span>Numbers</span>
    </button>
    
    <button mat-button routerLink="/table-generator">
      <mat-icon>grid_on</mat-icon>
      <span>Tables</span>
    </button>
    
    <button mat-button routerLink="/salary-calculator">
      <mat-icon>payments</mat-icon>
      <span >Salary</span>
    </button>
  </ng-container>

  <ng-template #mobileMenu>
    <button mat-icon-button [matMenuTriggerFor]="mobileOptionsMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </ng-template>

  <!-- Menu Definitions -->
  <mat-menu #percentageMenu="matMenu">
    <button mat-menu-item routerLink="/percentage/add">Add a Percentage Calculator</button>
    <button mat-menu-item routerLink="/percentage/discount-calc">Discount Calculator</button>
  </mat-menu>

  <mat-menu #fractionsMenu="matMenu">
    <button mat-menu-item>Decimal to Ratio Calculator</button>
    <button mat-menu-item>Percentage to Ratio Calculator</button>
  </mat-menu>

  <mat-menu #geometryMenu="matMenu">
    <button mat-menu-item routerLink="/trigo/degrees-to-radians">Degrees to Radians</button>
    <button mat-menu-item routerLink="/trigo/radians-to-degrees">Radians to Degrees</button>
    <button mat-menu-item routerLink="/trigo/convertor">Trigo Convertors</button>
    <button mat-menu-item routerLink="/trigo/calculator">Trigo Calculator</button>
    <button mat-menu-item routerLink="/trigo/complementary-angle">Complementary Angles</button>
    <button mat-menu-item>Supplementary Angles</button>
    <button mat-menu-item>Reflex or Conjugate Angles</button>
    <button mat-menu-item>Reference Angles</button>
    <button mat-menu-item>Right Triangle Calculator</button>
    <button mat-menu-item>Is a Triangular Number?</button>
  </mat-menu>

  <mat-menu #numbersMenu="matMenu">
    <button mat-menu-item>Big Numbers Calculator</button>
    <button mat-menu-item>Convert to Scientific Notation Calculator</button>
    <button mat-menu-item>Is a Multiple of Calculator</button>
    <button mat-menu-item>Long Division</button>
    <button mat-menu-item>Pi Calculator</button>
    <button mat-menu-item>Quotient and Remainder</button>
    <button mat-menu-item>Round to The Nearest Calculator</button>
    <button mat-menu-item>Significant Figures Counter</button>
    <button mat-menu-item>What Numbers Add Up to Calculator</button>
    <button mat-menu-item>Words to Number Calculator</button>
    <button mat-menu-item>Zeros Counter</button>
  </mat-menu>


  <mat-menu #miscellaneousMenu="matMenu">
    <button mat-menu-item>CHMOD Generator</button>
    <button mat-menu-item>Morse Code Translator</button>
    <button mat-menu-item>Scientific Calculator</button>
  </mat-menu>

  <mat-menu #mobileOptionsMenu="matMenu">
    <button mat-menu-item (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
      <span>Open Menu</span>
    </button>
  </mat-menu>

</mat-toolbar>