<mat-toolbar color="primary" class="header-toolbar">
  
    <div class="logo-section">
      <button *ngIf="isMobile" mat-icon-button (click)="toggleSidenav()" class="menu-icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="logo">Click Calc</span>
    </div>
  
    <span class="spacer"></span>
  
    <ng-container *ngIf="!isMobile; else mobileMenu">
      <button mat-button [matMenuTriggerFor]="percentageMenu">
        <mat-icon>percent</mat-icon>
        <span>Percentage</span>
      </button>
      
      <button mat-button routerLink="/ratio-calculator">
        <mat-icon>functions</mat-icon>
        <span>Fractions</span>
      </button>
      
      <button mat-button [matMenuTriggerFor]="geometryMenu">
        <mat-icon>architecture</mat-icon>
        <span>Geometry / Trigonometry</span>
      </button>
      
      <button mat-button [matMenuTriggerFor]="numbersMenu">
        <mat-icon>123</mat-icon>
        <span>Numbers</span>
      </button>
      
      <button mat-button routerLink="/table-generator">
        <mat-icon>grid_on</mat-icon>
        <span>Tables</span>
      </button>
      
      <button mat-button routerLink="/salary-calculator">
        <mat-icon>payments</mat-icon>
        <span >Salary</span>
      </button>
      <mat-slide-toggle (change)="toggleTheme()" [checked]="isDarkMode" color="accent">
        <mat-icon>{{ isDarkMode ? 'dark_mode' : 'light_mode' }}</mat-icon>
        <span>{{ isDarkMode ? 'Dark Mode' : 'Light Mode' }}</span>
      </mat-slide-toggle>
    </ng-container>
  
    <ng-template #mobileMenu>
    </ng-template>
  
    <!-- Menu Definitions -->
    <mat-menu #percentageMenu="matMenu">
      <button mat-menu-item routerLink="/percentage/add">Add a Percentage Calculator</button>
      <button mat-menu-item routerLink="/percentage/discount-calc">Discount Calculator</button>
    </mat-menu>
  
  
    <mat-menu #geometryMenu="matMenu">
      <button mat-menu-item routerLink="/trigo/degrees-to-radians">Degrees to Radians</button>
      <button mat-menu-item routerLink="/trigo/radians-to-degrees">Radians to Degrees</button>
      <button mat-menu-item routerLink="/trigo/convertor">Trigo Convertors</button>
      <button mat-menu-item routerLink="/trigo/calculator">Trigo Calculator</button>
      <button mat-menu-item routerLink="/trigo/complementary-angle">Complementary Angles</button>
      <button mat-menu-item >Supplementary Angles</button>
      <button mat-menu-item>Reflex or Conjugate Angles</button>
      <button mat-menu-item>Reference Angles</button>
      <button mat-menu-item routerLink="/trigo/rihght-triangle" >Right Triangle Calculator</button>
      <button mat-menu-item>Is a Triangular Number?</button>
    </mat-menu>
  
    <mat-menu #numbersMenu="matMenu">
      <button mat-menu-item routerLink="number/large-number-calculator">Big Numbers Calculator</button>
      <button mat-menu-item routerLink="number/scientific-notation-calculator">Convert to Scientific Notation Calculator</button>
      <button mat-menu-item>Is a Multiple of Calculator</button>
      <button mat-menu-item routerLink='number/long-number-division-calculator'>Long Division</button>
      <button mat-menu-item>Pi Calculator</button>
      <button mat-menu-item>Quotient and Remainder</button>
      <button mat-menu-item>Round to The Nearest Calculator</button>
      <button mat-menu-item>Significant Figures Counter</button>
      <button mat-menu-item>What Numbers Add Up to Calculator</button>
      <button mat-menu-item>Words to Number Calculator</button>
      <button mat-menu-item>Zeros Counter</button>
    </mat-menu>
  
  
    <mat-menu #miscellaneousMenu="matMenu">
      <button mat-menu-item>CHMOD Generator</button>
      <button mat-menu-item>Morse Code Translator</button>
      <button mat-menu-item >Scientific Calculator</button>
    </mat-menu>
  
    <mat-menu #mobileOptionsMenu="matMenu">
      
    </mat-menu>
  
  </mat-toolbar>